.whyy {
  font-size: 50px;
  text-align: center;
  margin-top: 10%;
  color: #fff;
}

.section3 {
  background: url("../assets/bg-2.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.btn2 {
  background-color: #fa4a0c;
  color: #ffffff;
  width: 140px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #fa4a0c;
  margin-right: 20px;
  font-size: 18px;
  transition: 0.2s;
}
.btn2:hover {
  transform: translateY(-8%);
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn3 {
  background-color: transparent;
  color: #ffffff;
  width: 140px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid white;
  margin-right: 20px;
  font-size: 18px;
  transition: 0.2s;
}
.btn3:hover {
  transform: translateY(-8%);
  background-color: #fa4a0c;
  border: 1px solid #fa4a0c;
  color: white;
}